{% extends 'dashboard/base.html.twig' %}

{% block title %}Добавление категории{% endblock %}

{% block body %}

    <div class="md-box md-content-padding">

        <h1>Добавление категории</h1>

        {{ include('dashboard/category/_form.html.twig') }}

    </div>

{% endblock %}
