<footer class="container pt-3 pb-4">
    <div class="row text-center">
        <div class="col-12 col-md text-center">
            <img src="{{ asset('assets/images/logotype-dark.png') }}" width="100" alt="Logotype">
            <br>
            <br>
            <small class="d-block mb-3 text-muted">© 2018-2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Разделы</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{{ path('post_section', {'section':'news'}) }}">Новости</a></li>
                <li><a class="text-muted" href="{{ path('post_section', {'section':'ads'}) }}">Объявлении</a></li>
                <li><a class="text-muted" href="{{ path('post_section', {'section':'questions'}) }}">Вопросы</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Информация</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">О сайте</a></li>
                <li><a class="text-muted" href="#">Соглашение</a></li>
                <li><a class="text-muted" href="#">Реклама</a></li>
            </ul>
        </div>
    </div>
</footer>
