<div class="post-actions">

    {% if comments %}
        <span class="stat">
            <a href="{{ path('post_show',{'id':post.id}) }}#comments">
                Посмотреть комментарии ({{ post.comments.count }})
            </a>
        </span>
    {% endif %}

    <span class="stat float-right m-0">

        {% if app.user %}
            <a class="bookmark-toggle{% if userContainPost(app.user, post) %} added{% endif %}" href="{{ path('post_bookmarker', {'slug': post.slug}) }}">
                <span class="bookmark-icon"></span>
            </a>
        {% else %}
            <a class="bookmark-toggle" href="{{ path('app_login') }}" style="cursor: pointer;padding-top: 5px;top: -5px;position: relative" data-toggle="tooltip" title="Добавлять закладки можно только после авторизации">
                <span class="bookmark-icon"></span>
            </a>
        {% endif %}

    </span>

</div>
