<div class="post-categories">
    <small class="text-muted">
        {% for category in post.categories %}
            <a href="{{ path('post_category', {'section':post.section, 'slug': category.slug}) }}">
                {{ category.title }}
            </a>
            {% if not loop.last %}/{% endif %}
        {% endfor %}
    </small>
</div>
