<div class="post-categories">
    {% for category in post.categories %}
        <a href="{{ path('post_category', {'slug':category.slug}) }}" class="badge badge-outline-primary">
            {{ category.title }}
        </a>
    {% endfor %}
</div>
